*Nous allons écrire une introduction au langage de programmation Python dans le cahier de cours de Mathématiques.
Retounez votre cahier de cours et écrivez le titre et toutes les commandes ci-dessous (sauf les exercices).*

# Apprentissage de la programmation en Python

## 1) Afficher un message en Python

Exemple :

In [1]:
print("Hello, world!")  # on utilise la fonction print

Hello, world!

__Exercice :__ En vous aidant de la commande précédente, écrire dans la cellule ci-dessous une commande permettant d'afficher le message ci-dessous : 

*Tout ce qui se conçoit bien s'énonce clairement et les mots pour le dire viennet aisément.*

In [3]:
# Écrire votre commande ici
# Remarquer pour lancer une commande, il faut utiliser la combinaison
# de touches suivantes : CTRL + ENTREE

## 2) Afficher un commentaire
Pour afficher un commentaire dans un programme on utilse le symbole #

Les mots situés après le # sur une même ligne sont ignorés par Python.

In [6]:
# Ceci est un commentaire!
# Tout ce qui suit le # sur une même ligne est ignoré par Python
print("Classe de 2nde B du lycée David d'Angers!")  # autre commentaire

Classe de 2nde B du lycée David d'Angers!

__Exercice :__ En vous aidant de la commande précédente, écrire dans la cellule ci-dessous une commande affichant le théorème suivant ET ajouter un commentaire précisant le nom de ce théorème : 

*Dans un triangle rectangle, le carré de l'hythénuse est égal à la 
somme des carrés des deux autres côtés.*

## 3) Opérations sur les nombres

In [8]:
# Addition de deux nombres entiers
8 + 9

17

In [11]:
# Dans cette cellule, écrire une commande affichant la différence 
# de 1982 et 172

In [12]:
# Multiplication de deux nombres décimaux
58.8 * 641.85

37740.78

In [17]:
# Dans cette cellule, écrire une commande affichant le produit de 
# de 1024.25 et 1236.8

In [24]:
# Division décimale par un nombre non nul
17 / 3         # quotient de 17 par 3

5.666666666666667

In [25]:
# Dans cette cellule, écrire une commande affichant le quotient de 
# 1782 par 81

In [28]:
# Partie entière de la division 
17 // 3        # retourne la partie entière de 5.666666666666667 soit 5

5

In [ ]:
# Dans cette cellule, écrire une commande affichant la partie entière 
# du quotient de 1782 par 81

In [22]:
# Puissance d'un nombre
2**10         # calcul de la puissane 10 de 2

1024

In [23]:
# Dans cette cellule, écrire une commande affichant 17 puissance 20

## Variables en python

Afin de faciliter l'écriture de programmes, on peut stocker des valeurs dans des variables pour ensuite les réutiliser ou les modifier.

In [30]:
# Déclaration et initialisation de la variable x 
x = 14   # x est initialisé avec la valeur entière 14
x + 16   # calcul de x + 16 soit 14 + 16

30

__Exercice :__ En vous aidant de la commande précédente, déclarer dans 
la cellule ci-dessous un variable v et initialisé sa valeur à 183.
Enfin, afficher le résultat de la différence de v et 267.

In [32]:
# Écrire votre commande ici

On peut intialisé une variable avec une chaînes de caractères :

In [34]:
#Déclaration et initilisation de la variable y
y = "Hello, world!"  # y est une chaîne de caractères
print(y)

Hello, world!

De même, on peut initialiser une variable avec un nombre décimal :

In [6]:
z = 3.1415  # z est initialisé avec le nombre décimal 3.1415

__Exercice :__ En utilisant la variable z ci-dessus, écrire une commande permettant d'afficher la somme du carré de z et du cube de (-3) :

In [36]:
# Écrire votre commande ici

## 4) Affectation d'une valeur à une variable

Après la déclaration et l'initialisation d'une variable, il est possible de modifier la valeur stockée dans cette variable : on parle alors d'une affectation.

In [7]:
t = 170
t = t + 1    # Affectation de la valeur t + 1 à la variable t
print(t)     # Affichage de la valeur stockée dans t

15

__Exercice :__ En vous aidant de la commande précédente, déclarer et initialiser une variable w avec la valeur -12. Puis, affecter la valeur du cube de w à la variable w :

In [37]:
# Écrire votre commande ici

In [8]:
y = y + " 2F SNT" # Changement de la valeur stockée dans y
print(y)

Hello, world! 2F SNT

In [11]:
note1 = 12.5
note2 = 14.5
# Affichage d'un texte contenant des variables
print("Mes notes en Mathématiques sont", note1, "et", note2, ".")

Mes notes en Mathématiques sont 12.5 et 14.5 .

In [27]:
# Il est possible de simplifier cet affichage
print("Mes notes en Mathématiqes sont {} et {}.".format(note1, note2))

Mes notes en Mathématiqes sont 12.5 et 14.5.

In [13]:
# Type de variable : les entiers notés int en python
a = 42
type(a)   # la fonction type() retourne le type d'une donnée

int

In [14]:
# Type de variable : les floatants notés float en python
b = 3.1415
type(b)   # b est un nombre réel décimal

float

In [28]:
# Type de variable : les chaînes de caractères notés str en python
c = "Monty Python est le nom d'une troupe d'humoristes anglais."
type(c)

str

In [32]:
# Notion de fonction en programmation
# Voici une fonction qui retourne la carré d'un nombre
def carre(x):
    return x*x

# Lancement de la fonction
carre(13)    # on demande le carré de 13

169

In [34]:
carre(7+3)   # calcul de 7+3=10 puis Python retourne carre(10)

100